{% extends 'skeleton.html' %}

{% block title %} {{ object.title }} | Dholi: Desi Wedding Planning Reimagined{% endblock %}

{% block content %}

<body id="page-top">

  <section class="page-section bg-vendor" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 mx-auto text-center">
          <h2 class="text-white mt-0">Blog Post: {{ object.category }}</h2>
          <hr class="divider my-4">
        </div>
      </div>
    </div>
  </section>


{% load static %}

  <!-- Search Results Section -->
  <section class="page-section" id="search_results">
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1 class="font-weight-bold">{{ object.title }}</h1>
          <p><i class="fa fa-1x fas fa-calendar-day text-primary"></i>&nbsp;&nbsp;&nbsp;{{ object.created_at|date }}&nbsp;&nbsp;&nbsp;</p>
          {{ object.content|safe }}
        </div>
      </div>
      <hr class="divider my-4">
    </div>
  </article>
  </section>

{% endblock %}