{% extends 'skeleton.html' %}

{% block title %} {{ object.company_name }} | Dholi: Desi Wedding Planning Reimagined{% endblock %}

{% block content %}

<body id="page-top">

  <section class="page-section bg-vendor" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 mx-auto text-center">
          <h2 class="text-white mt-0">{{ object.company_name }}</h2>
          <hr class="divider my-4">
        </div>
      </div>
    </div>
  </section>

{% load static %}

  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container">
      <!-- <h2 class="text-center mt-0">PORTFOLIO PICTURE SECTION</h2> -->
      <!-- <hr class="divider my-4"> -->
      <div class="row">
        <div class="col-lg-3 text-center">
          <a href="" data-toggle="modal" data-target="#featuredMediaSlideShow"><img class="img-thumbnail img-fluid" height="300" width="300" src="https://res.cloudinary.com/dixxe5spq/image/upload/v1586141928/dholi_placeholder/proposal_i3w1yu.png" alt=""></a>
        </div>
        <div class="col-lg-3 text-center">
          <a href="" data-toggle="modal" data-target="#featuredMediaSlideShow"><img class="img-thumbnail img-fluid" height="300" width="300" src="https://res.cloudinary.com/dixxe5spq/image/upload/v1586141928/dholi_placeholder/wedding_ant4l1.jpg" alt=""></a>
        </div>
        <div class="col-lg-3 text-center">
          <a href="" data-toggle="modal" data-target="#featuredMediaSlideShow"><img class="img-thumbnail img-fluid" height="300" width="300" src="https://res.cloudinary.com/dixxe5spq/image/upload/v1586141930/dholi_placeholder/reception_ygacc9.png" alt=""></a>
        </div>
<!--         <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
            <h3 class="h4 mb-2">Made with Love</h3>
            <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
          </div>
        </div> -->
      <div class="col-lg-3 text-center">
        <br>
        <div class="card mb-4 shadow-sm">
   <!--        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div> -->
          <div class="card-body align-items-center">
            <!-- <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1> -->
            <p class="text-muted mb-0">Start a conversation to learn more!</p>
            <hr class="divider my-4">
            <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target="#signup-login">Connect</button>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container" style="padding: 5rem 0">
      <div class="row">
        <div class="col-lg-3 text-center">
          <img class="img-fluid rounded-circle" height="200" width="200" src="https://res.cloudinary.com/dixxe5spq/image/upload/v1586141930/dholi_placeholder/reception_ygacc9.png" alt="">
          <p class="my-4"><a href="https://www.instagram.com/asinghal17"><i class="fab fa-2x fa-instagram text-primary"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="http://www.anuragsinghal.me"><i class="fas fa-2x fa-globe text-primary"></i></a></p>
        </div>
        <div class="col-lg-9 text-justify">
          <h2 class="mt-0">Dholi Photography</h2>
          <hr class="divider my-4" align="left">
            <p><i class="fas fa-1x fa-map-marker-alt text-primary"></i>&nbsp;&nbsp;&nbsp;Los Angeles&nbsp;&nbsp;&nbsp;<i class="fa fa-1x fa-rocket text-primary"></i>&nbsp;&nbsp;&nbsp;Travel Friendly&nbsp;&nbsp;&nbsp;</p>
          <p class="mb-4">Indian weddings are a canvas for emotions -- happy, cheerful, teary, anxious, and deeply in love. At John Doe Photography, we aim to capture these moments so you can remember them for a lifetime. Whether it’s getting beautifully designed patterns drawn on your hand during the Mehndi, or the new dance moves on display during the Baraat, or simply the jaw-dropping, heart-warming first dance, we’ve got you captured. </p>
        </div>
      </div>
    </div>
    <div class="bg-featured">
    <div class="container" style="padding: 5rem 0">
      <div class="row text-white">
        <div class="col-lg-4 mb-2 text-center">
          <div class="col mb-2">
            <h5 class="mt-0">Events</h5>
            <hr class="divider light my-4">
    <!--           <div class="row text-center">
                <p><i class="fas fa-1x fa-ring text-white">
                  </i>&nbsp;&nbsp;&nbsp;Proposal&nbsp;&nbsp;&nbsp;<i class="fas fa-1x fa-music text-white"></i>&nbsp;&nbsp;&nbsp;Engagement&nbsp;&nbsp;&nbsp;<i class="fas fa-1x fa-glass-cheers text-white"></i>&nbsp;&nbsp;&nbsp;Wedding&nbsp;&nbsp;&nbsp;
                </p>
              </div> -->
              <p>Proposal</p>
              <p>Engagement Shoots</p>
              <p>Wedding & Reception</p>
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <h5 class="mt-0">Delivery</h5>
          <hr class="divider light my-4">
          <div class="row mt-0">
            <div class="col mb-2"><p class="display-5">1 Week</p><p>First Look</p></div>
            <div class="col mb-2 border-left"><p class="display-5">2 Weeks</p><p>Full Album</p></div>
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <h5 class="mt-0">Availability</h5>
          <hr class="divider light my-4">
          <div class="col mb-2"><p class="mt-0">2020-03-02*</p></div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section id="services">
    <div class="container">
      <h2 class="text-center mt-0">Reviews</h2>
      <hr class="divider my-4">
<!--       <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-gem text-primary mb-4"></i>
            <h3 class="h4 mb-2">Sturdy Themes</h3>
            <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
            <h3 class="h4 mb-2">Up to Date</h3>
            <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
            <h3 class="h4 mb-2">Ready to Publish</h3>
            <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
            <h3 class="h4 mb-2">Made with Love</h3>
            <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <!-- Modal Featured Assets -->
  <div class="modal fade" id="featuredMediaSlideShow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
  <!--       <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Featured Assets</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body">
          <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100 img-fluid" src="img/portfolio/fullsize/1.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/portfolio/fullsize/2.jpg" alt="Second slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span></a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
          </div>
        </div>
  <!--       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>


<!-- Modal Featured Assets -->
<div class="modal fade" id="signup-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign Up / Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}